
/* Side Menu */
.side-menu {
    flex: 4;
    height: 100%;
    position: fixed;
    overflow: hidden;
    background: white;
    display: flex;
    flex-direction: column;
    min-width: 20%;
    width: 20%;
    box-shadow: 0 10px 10px 0 rgba(0, 0, 0, .2);
}

.menu-item {
    padding: 14px;
    color: #494949;
    font-size: 13.5px;
    display: flex;
    border-left: 4px solid #fff;    
    text-transform: uppercase;
}

.side-profile{
    margin: 5%;
    margin-bottom: 10%;
    display: flex;
    justify-content: center;
}

.side-profile img{
    width: 35%;
}

.menu-item:hover {
    background: #faf2f5;
    color: #ff0040;
    cursor: pointer;
    z-index: 1;
}

.active-menu {
    color: #006eff;
    background: #e7effa;
    border-left: 4px solid #006eff;
    padding: 14px;
    font-size: 14px;
    display: flex;
    text-transform: uppercase;
}

.collapse-side {
    background-color: #2e2e2e;
    bottom: 10%;
    width: 90%;
    position: absolute;
    display: flex;
    justify-content: center;
    padding: 14px;
    color: white;
}

.collapse-side:hover{
    background: #0c69e2;
    cursor: pointer;
}

.logo-side{
    margin: 20%;
}

.hide-side {
    min-width: 5%;
    white-space: nowrap;
    width: 5%;
    display: flex;
    align-items: center;
}

.hover-item{
    border:none;
    font-size: 5px;
    padding: 15px 30px;
}

.hide-title{
    display: none;
}

.hide-icon {
    font-size: 15px;
}

.side-menu i {
    margin: 0 5px;
    font-size: 18px;
}

.item-icon {
    flex: 1.2;
}

.item-title {
    flex: 7;
}

.short-app{
    margin-left: 5%;
}

.full-app{
    margin-left: 20%;
}


